tqdm==4.46.0
pandas==1.0.3
torchtext==0.6.0
boto3==1.9.4
torchvision==0.6.0
torch==1.5.0
requests==2.20.0
Flask==1.1.2
spacy==2.2.4
numpy==1.18.4
Pillow==7.1.2
torchtext==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.9
Werkzeug==1.0.1
scikit-learn==0.22.2
waitress==1.4.4
sentry-sdk==0.15.1
psutil==5.7.0
